# Конфигурация Discord бота
discord:
  # Токен бота из Discord Developer Portal
  bot-token: ""

  # ID гильдии (сервера), на котором будет работать бот
  guild-id: ""

  # ID канала для синхронизации чата ЕСЛИ ПУСТО ТО СИНХРОНИЗАЦИЯ ЧАТА НЕДОСТУПНА
  channel-id: ""

  # ID роли, которая разрешает пользователям использовать команды бота и синхронизацию чата ЕСЛИ ПУСТО ТО ДОСТУПНО ВСЕМ
  allowed-role-id: ""

# Особенности плагина
features:
  # Включить синхронизацию чата между Discord и Minecraft
  chat-sync: true

  # Включить сообщения о статусе сервера (вход/выход/смерть)
  server-messages: true

  # ваш твич ник ( https://www.twitch.tv/(тут ник) )
  twitch-channel: ""

# если command_whitelist пустой то доступны все команды кроме тех что в command_blacklist
# если command_blacklist пустой то доступны все команды из command_whitelist
# если command_whitelist и command_blacklist пустые то доступны все команды
filters:
  word_blacklist:
    - badword1
    - badword2
    - badword3

  command_whitelist:
    - say
    - help
    - list

  command_blacklist:
    - stop
    - reload
